<div class="home">
  <div class="container">
    <div class="center-align row">
      <div class="col m10 s12 offset-s0 offset-m1">
        <h4 class="title blue-text text-lighten-2">SMART DATA COLLECTION</h4>
      </div>
      <div class="col m10 s12 offset-s0 offset-m1">
        <h5 class="subtitle white-text">
            With OneBitForms it's easy to collect valuable information from your customers free and quickly        
        </h5>
        <a routerLink="/forms" class="btn blue lighten-1 btn-forms">
            Create your form now!        
        </a>
      </div>
    </div>
  </div>
</div>
